<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab7._3_OBD.Properties.Settings.Tour_AgencyConnectionString"
            connectionString="Data Source=KYCHORT\SKORDI;Initial Catalog=Tour_Agency;Persist Security Info=True;User ID=TourAgencyManager;Password=12345"
            providerName="System.Data.SqlClient" />
        <add name="Lab7._3_OBD.Properties.Settings.Tour_AgencyConnectionString1"
            connectionString="Data Source=KYCHORT\SKORDI;Initial Catalog=Tour_Agency;Persist Security Info=True;User ID=sa;Password=promokod305"
            providerName="System.Data.SqlClient" />
        <add name="Lab7._3_OBD.Properties.Settings.Tour_AgencyConnectionString2"
            connectionString="Data Source=KYCHORT\SKORDI;Initial Catalog=Tour_Agency;Persist Security Info=True;User ID=ReservationManager;Password=54321"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>